*, *::before, *::after {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

:root {
    --main-bg-color: #BEF0B8;
    --main-hover-color: rgb(63, 78, 61);
    --main-hover-light-color: rgb(150, 187, 145);
    --main-danger-color: rgb(255, 0, 0);
    --main-hover-danger-color: rgb(220, 0, 0); 
    --main-success-color: rgb(0, 150, 0);   
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

img {
    width: 100%;
}

button:focus, a:focus, label:focus-within, .nav-toggle:focus ~ label {
    outline: 2px solid rgba(50, 50, 255, 0.5);
    -moz-outline-radius: 5px;
}

/* Banner */

header {
    position: relative;
    padding: 1em;
    background-color: var(--main-bg-color);
    text-align: center;
    max-height: 300px;
}

.banner {
    max-width: 800px;
}

header h1 {
    font-weight: bold;
}

header h2 {
    font-weight: lighter;
    text-transform: uppercase;
}

/* Fim de banner */


nav {
    background-color: #000;
}

nav.nav-links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    top: 0;
    position: sticky;
    z-index: 999;
}

nav .nav-fluid {
    display: flex;
    background-color: #000;
    list-style: none;
    position: absolute;
    flex-wrap: wrap;
    flex-direction: column;
    top: 100%;
    width: 100%;
    z-index: 999;
    transform: scale(1, 0);
    transform-origin: top;
}

.nav-toggle:checked ~ .nav-fluid {
    transform: scale(1, 1);
}

nav .nav-link {
    margin: 0 auto;
    padding: 1em;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    z-index: 1;
    transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
}

nav a:visited {
    color: #fff;
}

nav .nav-link:hover {
    background-color: var(--main-hover-color);
    color: #fff;
    transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
}

.nav-toggle {
    opacity: 0;
    position: absolute;
}

.nav-toggle-label {
    margin: 0 1em;
    padding: 1em;
    color: #fff;
    position: relative;
    transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
}

.nav-toggle-label span.fa-times, .nav-toggle:checked ~ label.nav-toggle-label span.fa-bars {
    display: none;
}

.nav-toggle:checked ~ label.nav-toggle-label span.fa-times, .nav-toggle-label span.fa-bars {
    display: block;
}

.nav-toggle-label:hover {
    color: #fff;
    background-color: var(--main-hover-color);
    transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
}

#nav-inicio {
    margin-left: 1rem;
}

.dropdownAdminLinks {
    display: none;
    flex-direction: column;
    background-color: #000;
}

.dropdownAdminLinks a {
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    padding: 1em;
    margin: 0;
}

.dropdownAdminLinks a:visited {
    color: #fff;
}

.dropdownAdminLinks a:hover {
    color: #fff;
    background-color: var(--main-hover-color);
}

.dropdownAdminBtn {
    opacity: 0;
    position: absolute;
}

.dropdownAdminBtn:checked ~ .dropdownAdminLinks {
    display: flex;
}

label.nav-link {
    cursor: pointer;
    text-align: center;
}

p.breadcrumbs {
    background-color: var(--main-bg-color);
    padding: 1em;
    margin: 0 auto;
    max-width: 960px;
}

div.container {
    background-color: var(--main-bg-color);
    padding: 1em;
}

div.container div.content {
    background-color: #fff;
    border-radius: 10px;
    padding: 1em;
    margin: 0 auto;
    max-width: 960px;
}

div.container div.content h1 {
    margin: 0;
}

div.container div.content img {
    width: 100%;
}

div.container div.item {
    padding: 1em;
    border-bottom: 1px solid #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div.container div.item div.input-field {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.container div.item div.input-field input {
    padding: 1em;
}

div.container div.item-title {
    font-weight: bold;
    /* text-transform: uppercase; */
    text-align: center;
}

div.container div.item-title h1 {
    margin: 1em 0 0 0;
}

div.container div.card {
    max-width: 20em;
    border-radius: 10px;
    margin: 1em;
    background-color: #fff;
}

div.container div.card div.card-img {
    min-height: 15em;
}

div.container div.card img {
    width: 100%;
    max-height: 20em;
    border-radius: 10px 10px 0 0;
    align-self: center;
}

div.container div.card img:hover {
    opacity: 0.5;
    cursor: pointer;
}

div.container div.card div.card-text {
    padding: 0 1em 1em 1em;
}

div.container div.card div.card-text p {
    color: #000000AA;
    margin: 0.5em 0;
}

div.container div.card div.card-text p.card-p {
    color: #000000BB;
    max-height: 10em;
    overflow: hidden;
}

div.container div.card div.card-text h4 {
    margin: 0;
    overflow: hidden;
}

div.container div.card div.card-text h4 a {
    color: #000000;
    font-size: 2rem;
    text-decoration: none;
    padding: 0 1em 0 0;
    align-self: center;
}

div.container div.card div.card-text h4 a:hover {
    text-decoration: underline;
}

div.item label, div.item-black label {
    padding: 1em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

footer {
    background-color: var(--main-bg-color);      
}

footer div.item {
    padding: 1em;
    text-align: center;
}

footer div.item div.social-icons {
    font-size: 2.5em;
}

footer div.item div.social-icons a {
    color: #000;
    text-decoration: none;
}

footer div.item div.social-icons a:visited {
    color: #000;
}

footer div.item-black {
    background-color: #000;
    color: #fff;
    padding: 1em;
}

footer div.item-black div.input-field {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer div.item-black div.input-field input {
    padding: 1em;
}

a.btn, button.btn {
    display: inline-block;
    border: none;
    background-color: #000;
    font-weight: bold;
    /* text-transform: uppercase; */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    padding: 0.75em 1em;
    margin: 1em;
    max-width: 10em;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

a.btn.btn-danger {
    background-color: var(--main-danger-color);
    color: #fff;
}

a.btn.btn-dark, button.btn.btn-dark {
    background-color: var(--main-bg-color);
    color: #000;
}

a:visited.btn.btn-dark {
    color: #000;
}

a:visited.btn {
    color: #fff;
}

a.btn::after, a.btn.btn-dark::after, button.btn::after, a.btn.btn-danger::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 250ms ease-in-out;
    z-index: -1;
}

a.btn.btn::after, button.btn::after {
    background-color: var(--main-hover-color);
}

a.btn.btn-dark::after {
    background-color: var(--main-hover-light-color);
}

a.btn.btn-danger::after {
    background-color: var(--main-hover-danger-color);
}

a.btn:hover::after, button.btn:hover::after, a.btn:hover.btn-danger::after{
    opacity: 1;
    transition: opacity 250ms ease-in-out;
}

/* Paginação */
.content-footer {
    display: flex;
    justify-content: center;
}

div.page-nav nav {
    background-color: #fff;
    border: 1px solid #000000;
    border-radius: 5px;
}

div.page-nav nav ul {
    display: flex;
    flex-direction: row;
    list-style-type:none;
    margin: 0;
    padding: 0;
}

div.page-nav nav ul li {
    display: flex;
    padding: 0;
    margin: 0;
}

div.page-nav nav ul li.disabled,  div.page-nav nav ul li.active {
    color: #000000AA;
    padding: 1em;
}

div.page-nav nav ul li.active {
    background-color: #000000;
    color: #FFFFFF;
}

div.page-nav nav ul li a.previous {
    border-right: 1px solid #000000;
    border-left: 0px;
} 

div.page-nav nav ul li a.next {
    border-left: 1px solid #000000;
    border-right: 0px;
}

div.page-nav nav ul li a {
    color: #000000;
    padding: 1em;
    text-decoration: none;
}

div.page-nav nav ul li a:hover {
    transition: 0.5s;
    background-color: #000000;
    color: #FFFFFF;
}
/* Fim de paginação */

/* Formularios */

.item-form {
    display: flex;
    justify-content: center;
}

.item-form  form {
    width: 100%;
    max-width: 560px;
}

.item-form div.input-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.item-form div.input-field label {
    color: rgba(0,0,0,0.85);
    text-decoration: none;
    font-size: 18px;
	font-variant: normal;
	font-style: normal;
	font-weight: bold;
    padding-top: 10px;
    padding-bottom: 2px;
}

.item-form div.input-field input, .item-form div.input-field textarea, .item-form div.input-field select {
    font-size: 16px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 100%;
    padding: 1em 0.5em;
}

.item-form div.input-field input[readonly=""], .item-form div.input-field textarea[readonly=""] {
    background-color: rgba(0, 0, 0, 0.1);
}

.item-form div.input-field input:focus, .item-form div.input-field textarea:focus, .item-form div.input-field select:focus {
    outline: 2px solid rgba(50, 50, 255, 0.5);
    -moz-outline-radius: 5px;
}

.input-field input.error, .input-field textarea.error, .input-field select.error {
    outline: 2px solid rgba(255, 0, 0, 1);
    -moz-outline-radius: 5px;
}

span.invalid-feedback, p.error {
    margin: 0.5em 0;
    color: #FF0000;
}

p.error.error-dark {
    color: #FF3333;
    font-weight: bold;
}

.alert-success p {
    color: var(--main-success-color); /* cor da fonte*/
    font-weight: bold;
}

.input-checkbox {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    font-size: 18px;
	font-variant: normal;
	font-style: normal;
	font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

.input-btn {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.input-field textarea {
    height: 100px;
    transition: height 250ms ease-in-out;
}

.input-field textarea:focus {
    height: 300px;
    transition: height 250ms ease-in-out;
}

/* Fim de formulários */

/* Cards logado */

.admin-card {
    display: flex;
    align-items: center;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 1em;
    margin: 0.5em;
    width: 300px;
    color: #000000;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    background-color: var(--main-bg-colors);
    position: relative;
    z-index: 1;
}

.admin-card::after {
    content: '';
    height: 100%;
    width: 100%;
    background-color: var(--main-hover-light-color);
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    transition: opacity 250ms ease-in-out;
}

.admin-card:hover::after {
    opacity: 1;
    transition: opacity 250ms ease-in-out;
}

.admin-card:visited {
    color: #000000;
}

.admin-card span {
    width: 20%;
    font-size: 2rem;
    padding-right: 0.5em;
}

.admin-card h2 {
    margin: 0;
    width: 80%;
}

.admin-card a {
    width: 20%;
}

/* Fim de cards logado */

/* Inicio de Estilo das tabelas */

.table {
    overflow-x: auto;
}

table {
    border-spacing: 0;
    border: 1px solid #000000;
    border-radius: 5px;
    text-align: center;
    max-width: 800px;
    margin: 1em auto;
}

table th {
    border-bottom: 1px solid #000000;
    padding: 0.5em;
    margin: 0px;
}

table td {
    padding: 0.5em;
}


tr + tr > td {
    border-top: 1px solid #000000;
}

table img {
    max-width: 3em;
}

table a.btn {
    margin:0;
}

/* Fim de Estilo das tabelas */


/* Cards de voluntarios */

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.user-card {
    background-color: #fff;
    border-radius: 5px;
    width: 95%;
    max-width: 400px;
    min-width: 300px;
    margin: 0.5em;
    display: flex;
    justify-content: space-between;
}

.user-card div.card-img {
    width: 25%;
    height: 5em;
    max-width: 5em;
}

.user-card div.card-img img {
    height: 100%;
    border-radius: 5px;
}

.user-card div.card-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}

.user-card div.card-data h4 {
    margin: 0;
}

.user-card div.card-data p {
    margin: 0;
}

/* Fim de Cards de voluntarios */

.bold {
    font-weight: bold;
}

.m-0 {
    margin: 0;
}

div.input-field.align-center {
    align-items: center;
}

div.input-field.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

div.input-field.row input {
    width: 80%;
}

div.input-field.datetime {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

div.input-field.datetime input {
    width: 47.5%;
}

div.container div.content div.input-field.row img {
    width: 63px;
}

@media only screen and (min-width: 940px) {
    
    #nav-inicio {
        margin-left: auto;
        margin-right: 0;
    }

    .nav-toggle {
        display: none;
    }

    .nav-toggle-label {
        display: none;
    }

    nav .nav-fluid {
        all: unset;
        display: flex;
        flex-direction: row;
        width: inherit;
        margin-right: auto;
    }

    nav .nav-fluid a.nav-link {
        opacity: 1;
    }

    nav a {
        margin: 0 auto;
    }

    .dropdownAdminLinks {
        display: none;
        flex-direction: column;
        position: absolute;
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
        border-radius: 0 0 5px 5px;
        top: 3.2em;
        right: 0;
        width: 16em;
        background-color: #fff;
        z-index: 999;
    }

    .dropdownAdminLinks a {
        color: #000;
    }
    
    .dropdownAdminLinks a:visited {
        color: #000;
    }
    
    .dropdownAdminLinks a:hover {
        color: #000;
        background-color: var(--main-hover-light-color);
    }
}